.matching-button {
    background-color: #99c43e;
    width: 40%;
    height: 50px;
    min-height: 40px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
    margin: 30px;
    border: none;
    cursor: pointer;
    max-width: 200px;
}

.matching-button:hover {
    background-color: #73932e;
}

.matching-button-full {
    width: 80%;
    max-width: 600px;
}
