.dashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.signup-prompt {
  background-color: white;
  padding: 8rem;
  border-radius: 5px;
  text-align: center;
}